.banner-image-height{
    height: 625px;
   
}
.margin-design{
    margin-top: 70px;
    margin-bottom: 70px;
}
.card-img-height{
    height: 200px;
}
.inside-goal:hover{
    background-color:blueviolet;
}
.contact-me:hover{
    background-color:cornsilk;
}